input {
    outline: none;
}

.footer-input {
    border-radius: 40px;
    border: none;
    height: 40px;
    padding-left: 20px;
}

.auth-input {
    width: 100%;
    padding: 10px 0;

    border: none;
    border-bottom: 1px solid $light-grey3;

    &:focus {
        border-bottom: 1px solid $primary;
    }
}

.multiple-choice-wrapper {
    padding: 0 !important;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    input[type=radio] {
        opacity: 0;
        position: absolute;

        top: 5px;
        left: 5px;
    }

    input:checked{
        &+label {
            background: $primary;
        }
    }

    label {
        display: block;
        background: white;
        width: 100%;
        height: 100%;
        padding: .75rem 1rem;
        cursor: pointer;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
