@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.brand {
  font-weight: 600;
  font-size: 1.75em; }

.links {
  font-weight: 500;
  margin: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center; }

.sub-link {
  padding: 0 0.75rem;
  width: 100%;
  text-align: left; }
  .sub-link.active {
    border-radius: 8px;
    border: none;
    background: #ECCB00; }
    .sub-link.active a {
      border: none; }
  .sub-link a {
    padding: 0.5rem 0;
    display: block;
    width: 100%;
    border-bottom: 0.5px solid #DCDCDC; }
  .sub-link:last-child a {
    border: none; }

.footer {
  color: white; }
  .footer .sub-title {
    font-weight: 600;
    font-size: 1.125em !important;
    padding-bottom: 1rem; }
  .footer .footer-links {
    margin-bottom: 1rem;
    font-size: 0.875em;
    color: #F2F2F2; }
  .footer .iconify {
    font-size: 18px; }
  .footer .send-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%); }

.footer-input {
  border-radius: 40px;
  border: none;
  height: 40px;
  padding-left: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  font-family: "Poppins", sans-serif !important;
  color: #0F0F0F;
  height: 100%; }

.font-w-100 {
  font-weight: 100 !important; }

.font-w-200 {
  font-weight: 200 !important; }

.font-w-300 {
  font-weight: 300 !important; }

.font-w-400 {
  font-weight: 400 !important; }

.font-w-500 {
  font-weight: 500 !important; }

.font-w-600 {
  font-weight: 600 !important; }

.font-w-700 {
  font-weight: 700 !important; }

.font-w-800 {
  font-weight: 800 !important; }

.opacity-1 {
  opacity: 10% !important; }

.opacity-2 {
  opacity: 20% !important; }

.opacity-3 {
  opacity: 30% !important; }

.opacity-4 {
  opacity: 40% !important; }

.opacity-5 {
  opacity: 50% !important; }

.opacity-6 {
  opacity: 60% !important; }

.opacity-7 {
  opacity: 70% !important; }

.opacity-8 {
  opacity: 80% !important; }

.opacity-9 {
  opacity: 90% !important; }

a,
a:hover {
  text-decoration: none;
  color: inherit; }

.header {
  background: #FFFFFF;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10; }
  .header .sub-nav {
    width: 200px;
    top: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    background: #FFFFFF; }

.footer {
  background: #0F0F0F;
  width: 100%;
  height: 450px;
  padding: 5rem; }

.h-1 {
  height: 1rem; }

.p-head {
  padding-top: 80px; }

.text-lightgrey2 {
  color: #F2F2F2; }
